.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 20px;
    color: #555;
    cursor: pointer;
}